#container
{
	border: 1px solid #676767;
}

#mainnav
{
	background-color: #9FA41D;
	color: #272900;
	padding: 2px 0;
	margin-bottom: 22px;
}

#mainnav ul
{
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #C4C769;
}

#mainnav li
{
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #C4C769;
}

#mainnav li a
{
	text-decoration: none;
	color: #272900;
}

#mainnav li a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #272900;
}

#menu ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	line-height: 165%;
}

.imagefloat
{
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 10px 10px;
}

.blogentry ul
{
	list-style-type: none;
	text-align: right;
	margin: 1em 0;
	padding: 0;
	font-size: 95%;
}

.blogentry li
{
	display: inline;
	padding: 0 0 0 7px;
}

#footer
{
	background-color: #9FA41D;
	padding: 5px;
	font-size: 90%;
}

.refreshed, .refreshed a
{
	color: #224499;
}
